# Code::Blocks
*.cbp
*.depend
*.layout
# Visual Studio
*.vs
*.sln
*.vcxproj
*.vcxproj.filters
# Atom.io/PlatformIO
*.pioenvs
*.piolibdeps
*.clang_complete
*.gcc-flags.json
*.yml
*.ini
*.gch
# General
*.o
*.exe
Debug
# Program output files
test.txt
*.pgm
*.pnm
*.bmp